.gameContainer {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.startStop{
    position: absolute;
    
}
.endGame{
    position: absolute;
    left: 47%;
    top:15%;
}
.buttons{
    text-align: center;
    
}